body {
  margin: 0;
}

#root {
  overflow: hidden;
}

.outer-nav-container {
  position: absolute;
  background-color: transparent;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  border-bottom-width: 0;
  height: 70px;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}

.inner-nav-container {
  display: flex;
  justify-content: right;
  flex-direction: row;
  list-style-type: none;
  margin-top: 2em;
}

.joyer-logo {
  height: 35px;
  width: 30px;
  padding-top: 2em;
  padding-right: 16em;
}

.joyer-text {
  color: white;
  padding-right: 3em;
  text-decoration: none;
  font-family: roboto;
  font-weight: 300;
}

.joyer-text:hover {
  text-decoration: underline;
  text-underline-position: under;
}

.nav-button {
  height: 35px !important;
  width: 90px !important;
  border-radius: 20px !important;
  text-transform: none !important;
  color: white !important;
  border-color: white !important;
  margin-top: -8px!important;
}

.active {
  text-decoration: underline;
  text-underline-position: under;
}

@media only screen and (max-width: 600px) {
  .joyer-logo {
    padding-right: 0em;
    padding-top: 1.6em;
  }
  ul {
    padding-inline-start: 0px;
  }
  .joyer-text {
    padding-right: 2.5em;
  }
}

@media only screen and (max-width: 320px) {
  .joyer-logo {
    display: none;
  }
}
