.outer-nav-container {
  position: absolute;
  background-color: transparent;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  border-bottom-width: 0;
  height: 70px;
  display: flex;
  justify-content: space-around;
}

.inner-nav-container {
  display: flex;
  justify-content: right;
  flex-direction: row;
  list-style-type: none;
  margin-top: 2em;
}

.joyer-logo {
  height: 35px;
  width: 30px;
  padding-top: 2em;
  padding-right: 16em;
}

.joyer-text {
  color: white;
  padding-right: 3em;
  text-decoration: none;
  font-family: roboto;
  font-weight: 300;
}

body {
  margin: 0;
}
